#logo {
    min-height:300px;
    padding-top:70px;
    background-image: url('../img/wood.jpg');
    font-family: 'Bevan';
    text-align:center;
    color:antiquewhite;
    font-size:110px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

body{
    font-family: 'Open Sans';
}



nav {
    font-size:20px;
    padding-top:5px;
    padding-bottom:5px;
}

.not-left{
    margin-left:40px;
}


.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

#board{
background-color: goldenrod;
    width:400px;
    padding:0;
}


.tableRow{
    height:100px;

}

.correct{


    height:100px;
    width:100px;
    background-color: royalblue;
    padding:5px;

    float:left;

}

.guess{
    height:100px;
    width:300px;
    background-color: brown;

    padding-rigth:5px;
    float:left;
}
br{
    clear:both;
}
.correctBox{

    margin:5px;
    width:35px;
    height:35px;
    border-radius: 100%;
    border:solid 5px royalblue;
    float:left;
    background-color:black;

}

.guessBox{
    margin:4px;
    margin-top:14px;
    margin-right:0;
    float:left;
    border-radius:100%;
    border:solid 15px brown;


    background-color:black;
    min-width: 20px;
   height:70px;
    width: 70px;

}

#checkButton{
    padding:30px;
    text-align:center;
}

#colorPicker{
    height:100px;
    width:400px;
    padding-top:21px;
}

.noneBox{
    height:90px;
    width:90px;
    float:left;
    margin:5px;
    visibility: hidden;
}

.colorBox{
    margin:5px;
    width:38px;
    height:38px;
    border-radius:100%;
    float:left;
    cursor:move;

}

#infoBox{
    text-align:center;
}

#infoBox > p{
    color:red;
    font-weight: bold;
}

#color1{
    background-color: firebrick;
}
#color2{
    background-color: royalblue;
}
#color3{
    background-color: seagreen;
}
#color4{
    background-color: yellow;
}
#color5{
    background-color: palevioletred;
}
#color6{
    background-color: darkorange;
}


